{% extends 'base.html.twig' %}
{% block title %}Ingreso{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="login-form bg-light mt-5 p-4 col-md-5 offset-md-3">
            <form method="post" class="row g-3">
                <h3 class="h3 mb-3 font-weight-normal text-center">Ingreso al Sistema</h3>
                <hr>

                {% if error %}
                    <div class="alert alert-danger">{{ 'Credenciales Inválidas' }}</div>
                {% endif %}

                <div class="col-12">
                    <label for="inputEmail">Email</label>
                    <input type="email" name="email" id="inputEmail" class="form-control" required autofocus autocomplete="off">
                </div>
                <div class="col-12">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>
                
                {# comentar este input antes de aplicar el hash #}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="col-12">
                    <button class="btn btn-md btn-primary float-end" type="submit">
                        Entrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}