{% extends 'base.html.twig' %}

{% block title %}ATIEMS{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .centrado {position: absolute; left: 50%; top: 40%; transform: translate(-50%, -50%);
                        -webkit-transform: translate(-50%, -50%);}
    .centrado a:link { color:black; text-decoration:none; } 
    .centrado a:visited { color:black; text-decoration:none; } 
</style>

<div class="example-wrapper">
    <div class="centrado">
        <a href="https://google.com">
            <img src="img/icono.png"><br>
            ENTRAR
        </a>
    </div>
</div>
{% endblock %}
